{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "padded-blocks": 0,
    "react/self-closing-comp": ["error"],
    "quotes": [2, "single"]
  }
}
