.detail {
  background: #f7f7f7;
  color: #333;
}

.header {
  background: #fff;
  padding: 40rpx;
  .title {
    font-size: 36rpx;
    font-weight: bold;
  }
}
.price {
  font-size: 40rpx;
  color: red;
  margin: 30rpx 0;
}
.end {
  font-size: 26rpx;
  padding: 6rpx;
  color: #ff6769;
  background: #fff2f0;
  margin-left: 20rpx;
}
.time {
  font-size: 28rpx;
  color: #999999;
  margin: 30rpx 0;
}
.icon {
  margin-right: 20rpx;
  font-size: 28rpx;
  font-weight: bold;
}
.people {
  font-size: 28rpx;
  color: #999999;
}
.notice {
  background: #fff;
  margin-top: 20rpx;
  overflow: hidden;
  padding: 40rpx 20rpx;
  .block {
    margin-bottom: 80rpx;
  }
  .title {
    margin-bottom: 20rpx;
  }
  .text {
    margin-bottom: 20rpx;
    text-indent: 10rpx;
  }
  .notoicText {
    margin-bottom: 10rpx;
    text-indent: 10rpx;
  }
  .wx {
    background: url(../../static/wx.jpg) 50% 50% no-repeat;
    background-size: contain;
    height: 800rpx;
  }
}
.tabBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: white;
  border-top: 2rpx solid #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20rpx;
  padding-bottom: calc(
    20rpx + constant(safe-area-inset-bottom)
  ); /*兼容 IOS<11.2*/
  padding-bottom: calc(20rpx + env(safe-area-inset-bottom)); /*兼容 IOS>11.2*/
  .btn {
    background: #6190e8;
    color: #fff;
    width: 40%;
    height: 100rpx;
    border: none;
    padding: 10rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn::after {
    border: none;
  }
}
